.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 25px 70px 90px 1fr 2fr 1fr 25px;
    grid-template-rows: .2fr 0.8fr 3fr 0.3fr;
    grid-template-areas:
    ". nav nav nav nav nav ."
    ". header header header header header ."
    ". sidbar-left sidbar-left centerbar centerbar sidbar-right ."
    ". footer footer footer footer footer .";
}


.navbar{
    grid-area: nav;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(126, 126, 126);
    padding: 0;
    margin: 0;

    overflow: hidden;
}
.navbar a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #666;
    transition: 1s;
}
.navbar li {
    float: left;
}


header{
    grid-area:header;
    background-color: #ddd;
}
header h1 {
    text-align: center;
}
#sidebar-left{
    grid-area: sidbar-left;
    background-color: #bbb;
}
#centerbar{
    grid-area: centerbar;
    background-color: #aaa;
}
#centerbar *{
    padding-left: 10px;
}
#sidebar-right{
    grid-area: sidbar-right;
    background-color: #bbb;
}
#footer{
    grid-area: footer;
    background-color: #999;
}
#box{
    border: 1px solid rgb(182, 21, 21);
    border-width: 70px;
    margin: 10px;
    border-color: rgb(71, 134, 71);
    border-radius: 7px;
}
.flex-container-home{
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
.item{
    width: 120px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 7px solid #6e6e6e;
    margin: 10px;
    border-radius: 17px;
    padding-inline: 10px;
}
#blåguld{
    width: 400px;
    height: 200px;
    margin-top: 5%;
    padding: 22px;
}
.mönster{
    width: 178px;
    height: 400px;
    margin-top: 5%;
    padding: 22px;
}
#mönster-bilder {
    display: flex;
}

#Kontaktaoss{
    background-color: black;
    color: white;
}
